
:root{
	--cpri: #000a0f;
	--csec: #001722;
	--ctext1: #fff;
	--ctext2: #737373;
	--cblue: #00f6ff;
	--cred: #ff0000;
	--cyellow: #f6ff01;
	--cpink: #ed008a;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #000a0f;
}
::-webkit-scrollbar-track{
    background-color: #000a0f;
}
::-webkit-scrollbar-thumb{
    background-color: #fff; 
   
}


@font-face{
	font-family: 'agi';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/EmpireStraight.otf");
}
@font-face{
	font-family: 'betas';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Outrunfuture.otf");
}
@font-face{
	font-family: 'dyxer';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Cyberfunk.ttf");
}
@font-face{
	font-family: 'team';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/AIRBORNEGP.ttf");
}



body{
	background-color: var(--cpri);
	font-family: 'Raleway', sans-serif;

}
a{
	cursor: url(../images/aero2.cur), default;
}
.banner{
	width: 100%;
	height: 100vh;
	
}
.banner-dyxer{
	background: url(../images/ban_op.jpg) no-repeat center 40%;
	background-size: cover;
	text-align: center;
	position: relative;
}
.banner-dyxer:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	
	
background: rgba(0,10,15,0.46);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,10,15,0.46) 28%, rgba(0,10,15,0.46) 31%, rgba(0,10,15,0.46) 35%, rgba(0,10,15,0.46) 36%, rgba(0,10,15,0.54) 42%, rgba(0,10,15,0.67) 51%, rgba(0,10,15,0.77) 59%, rgba(0,10,15,0.8) 61%, rgba(0,10,15,0.98) 74%, rgba(0,10,15,0.98) 79%, rgba(0,10,15,0.98) 95%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, rgba(0,10,15,0.46)), color-stop(31%, rgba(0,10,15,0.46)), color-stop(35%, rgba(0,10,15,0.46)), color-stop(36%, rgba(0,10,15,0.46)), color-stop(42%, rgba(0,10,15,0.54)), color-stop(51%, rgba(0,10,15,0.67)), color-stop(59%, rgba(0,10,15,0.77)), color-stop(61%, rgba(0,10,15,0.8)), color-stop(74%, rgba(0,10,15,0.98)), color-stop(79%, rgba(0,10,15,0.98)), color-stop(95%, rgba(0,10,15,0.98)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,10,15,0.46) 28%, rgba(0,10,15,0.46) 31%, rgba(0,10,15,0.46) 35%, rgba(0,10,15,0.46) 36%, rgba(0,10,15,0.54) 42%, rgba(0,10,15,0.67) 51%, rgba(0,10,15,0.77) 59%, rgba(0,10,15,0.8) 61%, rgba(0,10,15,0.98) 74%, rgba(0,10,15,0.98) 79%, rgba(0,10,15,0.98) 95%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,10,15,0.46) 28%, rgba(0,10,15,0.46) 31%, rgba(0,10,15,0.46) 35%, rgba(0,10,15,0.46) 36%, rgba(0,10,15,0.54) 42%, rgba(0,10,15,0.67) 51%, rgba(0,10,15,0.77) 59%, rgba(0,10,15,0.8) 61%, rgba(0,10,15,0.98) 74%, rgba(0,10,15,0.98) 79%, rgba(0,10,15,0.98) 95%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,10,15,0.46) 28%, rgba(0,10,15,0.46) 31%, rgba(0,10,15,0.46) 35%, rgba(0,10,15,0.46) 36%, rgba(0,10,15,0.54) 42%, rgba(0,10,15,0.67) 51%, rgba(0,10,15,0.77) 59%, rgba(0,10,15,0.8) 61%, rgba(0,10,15,0.98) 74%, rgba(0,10,15,0.98) 79%, rgba(0,10,15,0.98) 95%);
background: radial-gradient(ellipse at center, rgba(0,10,15,0.46) 28%, rgba(0,10,15,0.46) 31%, rgba(0,10,15,0.46) 35%, rgba(0,10,15,0.46) 36%, rgba(0,10,15,0.54) 42%, rgba(0,10,15,0.67) 51%, rgba(0,10,15,0.77) 59%, rgba(0,10,15,0.8) 61%, rgba(0,10,15,0.98) 74%, rgba(0,10,15,0.98) 79%, rgba(0,10,15,0.98) 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a0f', endColorstr='#000a0f', GradientType=1 );
	
	
	/*
	
	
	
	background: rgb(0,11,17);
	background: radial-gradient(circle, rgba(0,11,17,0.11808473389355745) 6%, rgba(0,11,17,0.8267682072829132) 48%, rgba(0,11,17,1) 60%);
	*/
}
.banner-dyxer .cont{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 100px;

}
.banner-dyxer .cont h1{
	font-family: 'dyxer';
	font-size: 150px;
	color: var(--ctext1);
	letter-spacing: -5px;
	margin-bottom: 0;
}
.banner-dyxer .cont h2{
	font-family: 'team';
	font-size: 34px;
	color: var(--ctext1);
	letter-spacing: 1px;
	display: inline-block;
    background: #000;
    padding: 1px 5px;
	position: relative;
    top: -12px;
}
.banner-dyxer .cont img{
	height: 160px;
}
.banner-dyxer .cont p{
	font-size: 24px;
	color: var(--ctext1);
	font-weight: 300;
	margin-top: 20px;
}


.information{
	width: 100%;
	min-height: 500px;
	display: flex;
	padding-top: 100px;
}
.information .cont p{
	text-align: center;
    color: var(--ctext2);
    font-weight: 400;
    line-height: 35px;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 18px;
	margin-bottom: 100px;
}

.information .cont .sponsor{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.information .cont .sponsor a:link{
	text-decoration: none;
	outline: none;
}
.information .cont .sponsor .agi h5{
	font-family: 'agi';
	font-size: 100px;
	color: var(--ctext1);
}
.information .cont .sponsor .agi h5 span{
	color: var(--cblue);
}
.information .cont .sponsor .agi h5:hover span{
	text-shadow: 0 0 20px var(--cblue);
}
.information .cont .sponsor .betas h5{
	font-family: 'betas';
	font-size: 70px;
	color: var(--ctext1);
}
.information .cont .sponsor .betas h5 span{
	color: var(--cred);
}
.information .cont .sponsor .betas h5:hover span{
	text-shadow: 0 0 20px var(--cred);
}
.information .cont .sponsor .seeker h5{
	font-family: 'Lato', sans-serif;
	font-size: 85px;
	color: var(--ctext1);
}
.information .cont .sponsor .seeker h5 span{
	color: var(--cyellow);
}
.information .cont .sponsor .seeker h5:hover span{
	text-shadow: 0 0 30px var(--cyellow);
}


.solicitud{
	width: 100%;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.solicitud a:link{
	font-size: 24px;
	font-weight: 700;
	color: var(--ctext1);
	text-decoration: none;
	border: 2px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, var(--cblue) 0%, var(--cpink) 100%);
	-webkit-border-image: -webkit-linear-gradient(left, var(--cblue) 0%, var(--cpink) 100%);
	border-image: linear-gradient(to right, var(--cblue) 0%, var(--cpink) 100%);
	border-image-slice: 1;
	padding: 20px 90px;
	border-radius: 10px;
	
	
}
.solicitud a:visited{
	
	color: var(--ctext1);
	
	
}



footer{
	text-align: center;
	padding: 40px 0px;
}
footer p{
	font-size: 12px;
	font-weight: 300;
	color: var(--ctext1);
}






/* ------ seccion agi ----- */


.banner-agi{
	background: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	position: relative;
}
.banner-agi:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,10,15,0.52);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(16%, rgba(0,10,15,0.52)), color-stop(31%, rgba(0,10,15,0.52)), color-stop(40%, rgba(0,10,15,0.63)), color-stop(70%, rgba(0,10,15,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: radial-gradient(ellipse at center, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a0f', endColorstr='#000a0f', GradientType=1 );
	
	
	
	/*
	
	
	
	background: rgb(0,11,17);
	background: radial-gradient(circle, rgba(0,11,17,0.11808473389355745) 6%, rgba(0,11,17,0.8267682072829132) 48%, rgba(0,11,17,1) 60%);
	*/
}
.banner-agi .cont{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 100px;

}
.banner-agi .cont h1{
	font-family: 'agi';
	font-size: 160px;
	color: var(--ctext1);
	margin-bottom: 0;
}
.banner-agi .cont h1 span{
	color: var(--cblue);
}
.banner-agi .cont p{
	font-size: 24px;
	color: var(--ctext1);
	font-weight: 300;
	margin-top: 20px;
}


.information-pages{
	width: 100%;
	display: flex;
	padding-top: 100px;
	padding-bottom: 170px;
}
.information-pages .cont p{
	text-align: center;
    color: var(--ctext2);
    font-weight: 400;
    line-height: 35px;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 16px;
}




.proyects{
	width: 100%;
	height: auto;
}
.proyects h3{
	font-size: 105px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	background: linear-gradient(to top, var(--ctext1),  #44585f 20% , var(--cpri) );
	background: -webkit-linear-gradient(top, var(--ctext1),  #44585f 20% , var(--cpri) );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 80px;
}
.proyects{
	display: flex;
	justify-content: center;
	padding-bottom: 60px;
}
.proyects a{
	width: 730px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding-top: 45px;
	padding-right: 45px;
	padding-bottom: 45px;
	padding-left: 45px;
	align-items: center;
	text-decoration: none;
	margin-bottom: 40px;
	border-bottom: 3px solid var(--csec);
	outline: none;
	
}

.proyects a img{
	height: 80px;
}
.proyects a .text{
	margin-left: 35px;
}
.proyects a .text h5{
	font-weight: 700;
	font-size: 24px;
	color: var(--ctext1);
	margin-bottom: 0px;
}
.proyects a p{
	font-size: 14px;
	font-weight: 400;
	color: var(--ctext2);
	line-height: 30px;
	margin-bottom: 0px;
}

.proyects a:hover{
	background: var(--csec);
	
}
/*
.proyects a:hover{
	border: 2px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, var(--cblue) 0%, var(--cpink) 100%);
	-webkit-border-image: -webkit-linear-gradient(left, var(--cblue) 0%, var(--cpink) 100%);
	border-image: linear-gradient(to right, var(--cblue) 0%, var(--cpink) 100%);
	border-image-slice: 1;
	border-radius: 10px;
}


*/






/* ------ seccion betas ----- */


.banner-betas{
	background: url(../images/banner3_op.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	position: relative;
}
.banner-betas:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,10,15,0.52);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(16%, rgba(0,10,15,0.52)), color-stop(31%, rgba(0,10,15,0.52)), color-stop(40%, rgba(0,10,15,0.63)), color-stop(70%, rgba(0,10,15,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
background: radial-gradient(ellipse at center, rgba(0,10,15,0.52) 16%, rgba(0,10,15,0.52) 31%, rgba(0,10,15,0.63) 40%, rgba(0,10,15,1) 70%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a0f', endColorstr='#000a0f', GradientType=1 );
	
	
	
	/*
	
	
	
	background: rgb(0,11,17);
	background: radial-gradient(circle, rgba(0,11,17,0.11808473389355745) 6%, rgba(0,11,17,0.8267682072829132) 48%, rgba(0,11,17,1) 60%);
	*/
}
.banner-betas .cont{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 100px;

}
.banner-betas .cont h1{
	font-family: 'betas';
	font-size: 100px;
	color: var(--ctext1);
	letter-spacing: -5px;
	margin-bottom: 50px;
}
.banner-betas .cont h1 span{
	color: var(--cred);
}
.banner-betas .cont p{
	font-size: 24px;
	color: var(--ctext1);
	font-weight: 300;
}




/* ------ seccion betas ----- */


.banner-seeker{
	background: url(../images/banner4_op.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	position: relative;
}
.banner-seeker:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,10,15,0.25);
background: -moz-linear-gradient(top, rgba(0,10,15,0.25) 10%, rgba(0,10,15,0.25) 11%, rgba(0,10,15,0.25) 12%, rgba(0,10,15,0.25) 15%, rgba(0,10,15,0.25) 30%, rgba(0,10,15,0.25) 40%, rgba(0,10,15,0.25) 44%, rgba(0,10,15,1) 79%);
background: -webkit-gradient(left top, left bottom, color-stop(10%, rgba(0,10,15,0.25)), color-stop(11%, rgba(0,10,15,0.25)), color-stop(12%, rgba(0,10,15,0.25)), color-stop(15%, rgba(0,10,15,0.25)), color-stop(30%, rgba(0,10,15,0.25)), color-stop(40%, rgba(0,10,15,0.25)), color-stop(44%, rgba(0,10,15,0.25)), color-stop(79%, rgba(0,10,15,1)));
background: -webkit-linear-gradient(top, rgba(0,10,15,0.25) 10%, rgba(0,10,15,0.25) 11%, rgba(0,10,15,0.25) 12%, rgba(0,10,15,0.25) 15%, rgba(0,10,15,0.25) 30%, rgba(0,10,15,0.25) 40%, rgba(0,10,15,0.25) 44%, rgba(0,10,15,1) 79%);
background: -o-linear-gradient(top, rgba(0,10,15,0.25) 10%, rgba(0,10,15,0.25) 11%, rgba(0,10,15,0.25) 12%, rgba(0,10,15,0.25) 15%, rgba(0,10,15,0.25) 30%, rgba(0,10,15,0.25) 40%, rgba(0,10,15,0.25) 44%, rgba(0,10,15,1) 79%);
background: -ms-linear-gradient(top, rgba(0,10,15,0.25) 10%, rgba(0,10,15,0.25) 11%, rgba(0,10,15,0.25) 12%, rgba(0,10,15,0.25) 15%, rgba(0,10,15,0.25) 30%, rgba(0,10,15,0.25) 40%, rgba(0,10,15,0.25) 44%, rgba(0,10,15,1) 79%);
background: linear-gradient(to bottom, rgba(0,10,15,0.25) 10%, rgba(0,10,15,0.25) 11%, rgba(0,10,15,0.25) 12%, rgba(0,10,15,0.25) 15%, rgba(0,10,15,0.25) 30%, rgba(0,10,15,0.25) 40%, rgba(0,10,15,0.25) 44%, rgba(0,10,15,1) 79%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a0f', endColorstr='#000a0f', GradientType=0 );
	
	
	
	/*
	
	
	
	background: rgb(0,11,17);
	background: radial-gradient(circle, rgba(0,11,17,0.11808473389355745) 6%, rgba(0,11,17,0.8267682072829132) 48%, rgba(0,11,17,1) 60%);
	*/
}
.banner-seeker .cont{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 100px;

}
.banner-seeker .cont h1{
	font-size: 120px;
	color: var(--ctext1);
	margin-bottom: 50px;
	
}
.banner-seeker .cont h1 span{
	color: var(--cyellow);
}
.banner-seeker .cont p{
	font-size: 24px;
	color: var(--ctext1);
	font-weight: 300;
	margin-right: 20%;
	margin-left: 20%;
}






.links{
	position: fixed;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	bottom: 25px;
    right: 25px;
	text-align: center;
}
.links a{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	margin-bottom: 10px;
	text-decoration: none;
	
}
.links .l-dyxer{
	font-size: 24px;
	font-family: 'dyxer';
	color: var(--ctext1);
	margin-bottom: 20px;
}
.links .l-agi{
	background: var(--cblue);
}
.links .l-betas{
	background: var(--cred);
}
.links .l-seeker{
	background: var(--cyellow);
}


/* -------------------- responsive -------------------*/


@media screen and (max-width: 991px) {
	
	
	.information .cont p{
		padding-right: 10%;
		padding-left: 10%;
	}
	
	/* sponsors */
	
	.information .cont .sponsor .agi h5{
		font-size: 70px;
	}
	.information .cont .sponsor .betas h5{
		font-size: 50px;
	}
	.information .cont .sponsor .seeker h5{
		font-size: 60px;
	}
	
	
	
	/* seccion pages --- proyectos (tarjetas) */
	.proyects a{
		width: auto;
		background: var(--csec);
		border-radius: 10px;
	}
	
}


@media screen and (max-width: 767px){
	
	.banner .cont p{
		font-size: 24px;
	}
	
	.information{
		padding-top: 0px;
	}
	
	.information .cont p{
		margin-bottom: 50px;
	}
	.information .cont .sponsor{
		align-items: center;
		flex-direction: column;
	}
	
	.information .cont .sponsor .power:nth-of-type(2n){
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	
	.solicitud a:link{
		font-size: 18px;
	}
	
	
	
	.banner-agi .cont h1{
	
		font-size: 100px;
	
	}
	.banner-agi .cont p{
		font-size: 18px;
		margin-left: 10%;
		margin-right: 10%;
	}
	
	
	.banner-betas .cont h1{
		font-size: 70px;
	}
	.banner-betas .cont p {
		font-size: 18px;
		margin-left: 10%;
		margin-right: 10%;
	}
	
	
	
	.banner-seeker .cont h1{
		font-size: 70px;
		margin-bottom: 25px;
	}
	.banner-seeker .cont p {
		font-size: 16px;
		margin-left: 10%;
		margin-right: 10%;
	}
	
	
	
	
	/* seccion pages --- proyectos */
	
	.proyects h3 {
    	font-size: 75px;
	}
	
	.proyects a {
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	
	
	
}

@media screen and (max-width: 575px){
	
	
	
	
	
	.information-pages{
		padding-top: 0px;
		padding-bottom: 100px;
	}
	.information-pages .cont p{
		margin-right: 10%;
		margin-left: 10%;
		font-size: 14px;
	}
	
	
	.proyects a{
		margin-left: 2%;
		margin-right: 2%;
	}
	.proyects a .text {
		margin-left: 20px;
	}
	.proyects a img {
    	height: 50px;
	}
	.proyects a .text h5 {
    
    	font-size: 18px;
	}
	
	.proyects a p {
    	font-size: 12px;
	}
	
	
}


@media screen and (max-width: 490px){
	.proyects h3 {
		font-size: 48px;
	}
}



@media screen and (max-width: 384px){
	.banner .cont h1{
		font-size: 100px;
	}
	.banner .cont h2{
		font-size: 24px;
	}
	.banner .cont p{
		font-size: 16px;
	}
	
	.information .cont p{
		font-size: 16px;
	}
	.solicitud a:link{
		padding: 15px 40px;
	}
	
	footer p{
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.banner-betas .cont h1{
		font-size: 48px;
	}
	
	.banner-seeker .cont h1 {
    font-size: 70px;
}
	
	.proyects a p{
		display: none;
	}
	
	
	
}

@media screen and (max-width: 348px){
	.proyects h3 {
		font-size: 32px;
	}
}
